@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
@import 'ccgx-insurance/insurance.css';

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* Font face */
body {
    font-family: 'GT-America-Mono';
}

.bg-pattern {
border-top: #e4e4e4 1px solid;
}

.ccg-insurance-three-col-card {
    padding: 7rem 0;
}

.ccg-insurance-three-col-card>div {
    flex-wrap: nowrap;
}